# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so


lib/

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# Poetry
poetry.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/

# Cython debug symbols
cython_debug/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Test coverage reports
htmlcov/
.coverage
coverage.xml
.cache
nosetests.xml
pytest_cache/
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# dotenv environment variables
.env
.env.*
/Scripts
